body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
    color: #333;
    align-content: center;
    text-align: center;
}

h1 {
    color: #005A9C;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#backButton{
    background-color: lightcoral;
    height: 50px;
    text-align: left;
}

button:hover {
    background-color: #0056b3;
}

#ShowButtons button {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 20px 0 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s; 
}

tbody tr:hover {
    background-color: #f9f9f9; 
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}